<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Maseva Drive</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	<script src="~/Scripts/jquery-1.10.2.js"></script>
	<script>
		$(window).ready(function () {
			var pressTimer;
			$(".itemsHolder").hover(
			   function () { $(this).toggleClass('higlightItemHolder'); },
			   function () { $(this).toggleClass('higlightItemHolder'); }
			   )
			
			$(".circle").click(
			   function (event) {
			   	event.stopPropagation();			   	
			   	$(this).parent('div').toggleClass('selectedItemHolder');
			   	$(this).parent('div').children('input').prop("checked", $(this).parent('div').hasClass('selectedItemHolder'));
			   	return false;
			   }
			   )
			$(".circle").hover(
			   function () { $(this).next('.check').css('display','block'); },
			   function () { if ($(this).next('.check').parent('div').hasClass('selectedItemHolder') != true) { $(this).next('.check').css('display', 'none'); } }
			   )
			$(".itemsHolder").mouseup(function(){
				clearTimeout(pressTimer);
				return false;
			}).mousedown(function(){
				pressTimer = window.setTimeout(function () {
					$(this).toggleClass('higlightItemHolder');
				}, 1000);
				return false; 
			});
			/*$(".check").click(
			   function (event) {
			   	event.stopPropagation();			   	
			   	return false;
			   }
			   )
			$(".circle").hover(
			   function () { $(this).next('.check').show(); },
			   function () { $(this).next('.check').hide(); }
			   )
			$(".check").mouseleave(
			   )*/
		});
	</script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Maseva Drive", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Files", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <footer>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
