@{
	ViewBag.Title = "Home Page";
}

<style>
	.text {
		color: #AAAAAA;
		width: 100%;
		text-align: center;
		font-weight: 500;
		-webkit-font-smoothing: antialiased;
	}

	.itemsHolder {
		max-width: 19%;
		min-width: 10%;
		display: inline-block;	
		vertical-align: top;	
	}

	.folder {
		padding-left: 10%;
		padding-top: 10%;
		padding-right: 10%;
		text-align: center;
	}

	.file{		
		background-color: rgba(50, 50, 50, 0.4);		
		color:white;
		padding-left:5px;
		text-align:left;
		position:absolute;
		bottom:0;
		left:0;
		width:100%;		
	}

	@@media screen and (max-width: 960px) {
		.itemsHolder {
			max-width: 49%;
			min-width: 10%;
			display: inline-block;
			vertical-align: top;			
		}

		.text {
			width: 100%;
			text-align: center;
			font-weight: 500;
			-webkit-font-smoothing: antialiased;
		}
	}
</style>
<div style="width:100%; padding-top:2vw; display:inline-block">
	@foreach (var item in Model)
			{
		<a href="@("http://192.168.0.103/MasevaDrive/Home/Index/" + @item.Id)">
			<div class="itemsHolder">
				@if (@item.File == null)
				{
					<div style="position:relative; text-align:center; width:100%;">
						<div style="width:1920px"></div>
						<div class="folder">
							<img src="~/Content/folder.svg" style="margin-bottom:-10%" />
							<div class="text">
								@item.Name<br />
								@item.Directory.CreationTime.ToString("dd MMM yyyy")
							</div>
						</div>
					</div>
				}
				else
				{
					<div style="min-width:10%; max-width:100%; margin-top:10%; position:relative;">
						<div class="file">
							@item.Name<br />
							@item.File.CreationTime.ToString("dd MMM yyyy")
						</div>
						<img src="@("http://192.168.0.103:9090/storage/thumb" + @item.Id)" style="max-width:100%; vertical-align:top;">						
					</div>
						
				}
			</div>
		</a>
			}
</div>
