@{
	ViewBag.Title = "Files";
}

@model List<StorageItem>

<style>
	.circle {
		width: 12%;
		z-index: 101;
		display: none;
	}

	.invertImg {
		-webkit-filter: invert(1);
		filter: invert(1);
	}

	.check {
		width: 12%;
		z-index: 100;
		display: none;
	}

	.text {
		color: #999999;
		width: 100%;
		text-align: center;
		font-weight: 500;
		-webkit-font-smoothing: antialiased;
	}

	.itemsHolder {
		max-width: 19%;
		min-width: 10%;
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin-right: -4px;
	}

	.selectedItemHolder {
		max-width: 19%;
		min-width: 10%;
		display: inline-block;
		vertical-align: top;
		position: relative;
	}

	.itemsHolder.higlightItemHolder {
		background: #EEEEEE;
	}

	.itemsHolder.selectedItemHolder {
		background: #DDDDDD;
	}

	.selectedItemHolder .circle,
	.selectedItemHolder .check,
	.higlightItemHolder .circle {
		display: block;
	}

	/*.higlightItemHolder .circle{
		display:inline;
	}*/

	.folder {
		padding: 5%;
		text-align: center;
	}

	.fileText {
		background-color: rgba(50, 50, 50, 0.4);
		color: white;
		padding-left: 5px;
		text-align: left;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}

	.file {
		min-width: 10%;
		max-width: 100%;
		position: relative;	
		margin:2%;
	}

	@@media screen and (max-width: 960px) {
		.itemsHolder {
			max-width: 49%;
			min-width: 10%;
			display: inline-block;
			vertical-align: top;
			position: relative;
		}

		.text {
			width: 100%;
			text-align: center;
			font-weight: 500;
			-webkit-font-smoothing: antialiased;
		}
	}
</style>


<div style="width:100%; padding-top:2vw; display:inline-block">	
		@using (Html.BeginForm("PostAction", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			foreach (var item in Model)
			{
				<a href="@("http://192.168.0.103/MasevaDrive/Home/Index/" + @item.Id)">
					<div class="itemsHolder" data-id="@item.Id">

					@if (@item.File == null)
					{
						<img class="circle" src="~/Content/circle.svg" style="position:absolute; right:10px; top:10px;" />
						<img class="check" src="~/Content/check.svg" style="position:absolute; right:10px; top:10px;" />
						<div style="position:relative; text-align:center; width:100%;">
							<div style="width:1920px"></div>
							<div class="folder">
								<img src="~/Content/folder.svg" style="margin-bottom:-10%" />
								<div class="text">
									@item.Name<br />
									@item.Directory.CreationTime.ToString("dd MMM yyyy")
								</div>
							</div>
						</div>
					}
					else
					{
						<img class="circle invertImg" src="~/Content/circle.svg" style="position:absolute; right:10px; top:10px;" />
						<img class="check invertImg" src="~/Content/check.svg" style="position:absolute; right:10px; top:10px;" />
						<div class="file">
							<div class="fileText">
								@item.Name<br />
								@item.File.CreationTime.ToString("dd MMM yyyy")
							</div>
							<img src="@("http://192.168.0.103:9090/storage/thumb" + @item.Id)" style="max-width:100%; vertical-align:top;">
						</div>
					}
						<input id="@item.Id" name="Id" type="checkbox" value="@item.Id" style="display:none">

					</div>
				</a>
			}
			<input type="submit" value="Submit">
		}
		@*<video autoplay="0" stretch="true">

				<source type="application/x-mpegurl" src="http://live.wmncdn.net/safaritv2/live2.stream/index.m3u8">
			</video>*@
</div>

 